# Python cache
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/

# Virtual env
.venv/
venv/
env/

# Builds / PyInstaller
build/
dist/
*.exe
# Uncomment next line ONLY if you don't want to version your PyInstaller spec:

# Editor/IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# Secrets
.env
