__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
venv/
.venv/
env/
build/
dist/
*.exe
.idea/
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
.DS_Store
Thumbs.db
.env
logs/
alanchand_catalog_cache.json
